h2{
    text-shadow: red;
    alignment: left;
    padding-bottom: 20px;
    text-decoration: none;

}
body{
    font-family: "Inter" , "Arial Rounded MT Bold";
}

h3{
    color: red;
}

header{
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: white;
    font-family: "Inter" , "Arial Rounded MT Bold";

}

header>nav{
        position: absolute;
        right: 0;
        top: 0;
        display: inline;
        text-decoration: none;
        list-style-type: none;
        font-size: 20px;
}

header>nav>menu{
    margin-top: 2%;
    margin-right: 30px;
    font-size: 20px;

}

header>nav>menu>li>a{
    color: black;
    text-decoration-line: none;
}

header>nav>menu>li:nth-child(7){
    background-color: #ff253a;
    border-radius: 10px;
}

header>nav>menu>li:nth-child(7)>a{
    color: white;
}

header>nav>menu>li:nth-child(7):hover{
    background-color: black;
}
header>nav>menu>li:nth-child(7)>a:hover{
    color: white;
}

header>nav>menu>li>a:hover{
    color: #ff253a;
}

header>h2{
    font-size: 40px;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 0;
}

header li{
    display: inline;
    padding: 10px;
    alignment: right;
    text-decoration: none;
    text-underline: none;
    list-style-type: none;

}

main>section{

    position: relative;
}

main>section:nth-child(1){
    height: 800px;
}
main>section:nth-child(1)>figure>img{
    position: absolute;
    width: 100vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 10%;
    z-index: 0;
}

main>section:nth-child(1)>aside>figure>img{
    z-index: 1;
    position:absolute ;
    top: 12%;
    left: 10%;
}

main>section:nth-child(1)>article{
    margin-left: 800px;
    z-index: 2;
    padding-top: 150px;
}

main>section:nth-child(1)>article>h1{
    font-size: 50px;
}

main>section:nth-child(1)>article>h1:nth-child(1){
}

main>section:nth-child(1)>article>h1:nth-child(2){
    font-size: 60px;
}

main>section:nth-child(1)>article>h1:nth-child(2){
    color: #ff253a;
}

main>section:nth-child(1)>article>h4{
    font-size: 30px;
}

main>section:nth-child(1)>article li{
    font-size: 30px;
    display: inline;
    margin-right: 50px;
    text-decoration: none;
    text-underline: none;
    list-style-type: none;

}
main>section:nth-child(1)>article>ul{
    padding-left: 0;
}
main>section:nth-child(1)>article li a{
    text-decoration: none;
    color: black;
}
main>section:nth-child(1)>article li a:hover{
    color: #ff253a;
}

main>section:nth-child(2){
    background-color:#F0F0F0 ;
    height: 100vh;
}

main>section:nth-child(2)>h1{
    font-size: 100px;
    color: white;
    position: absolute;
    top: -3%;
    right: 0;
    margin-top: 0;
}

main>section:nth-child(2)>h3{
    font-size: 40px ;
    /*margin-left: 80px;*/
    /*margin-top: 80px;*/

}

main>section:nth-child(2)>h3 i{
    color: #ff253a;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 200px;
    margin-left: 100px;
}

main>section:nth-child(2)>article{
    font-size: 30px;
    margin-left: 180px;
    margin-top: 150px;
    color: grey;
    line-height: 150%;
    justify-content: center;
    font-weight: bold;
}

main>section:nth-child(2)>aside{
    position: absolute;
    top: 10%;
    bottom: 0;
    right: 3%;
    margin: auto;
}

main>section:nth-child(3)>h3 i{
    color: #ff253a;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 100px;
}

main>section:nth-child(3)>h3{
    font-size: 40px ;
    /*margin-left: 80px;*/
    /*margin-top: 80px;*/

}

main>section:nth-child(3)>h1{
    font-size: 100px;
    color: #F0F0F0;
    position: absolute;
    top: -8%;
    right: 0;
    margin-top: 0;
}

main>section:nth-child(3)>aside{
    margin-top: 100px;
    margin-left: 20%;
    margin-bottom: 10%;
}

main>section:nth-child(4){
    background-color: #F0F0F0;
    height: 150vh
}

main>section:nth-child(4)>h1{
    font-size: 100px;
    color: white;
    position: absolute;
    top: -1%;
    right: 0;
    margin-top: 0;
}

main>section:nth-child(4)>h3 i{
    color: #ff253a;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 100px;
}

main>section:nth-child(4)>h3{
    font-size: 40px ;
    /*margin-left: 80px;*/
    /*margin-top: 80px;*/

}

/*main>section:nth-child(4)>article div figure img{*/
/*    display: inline;*/
/*}*/

/*main>section:nth-child(4)>article{*/
/*    display: inline;*/
/*}*/

main>section:nth-child(4)>article div{
    display: inline;
}

main>section:nth-child(4)>article div figure{
    display: inline;
}

main>section:nth-child(4)>article{
    margin-left: 200px;
    margin-top: 130px;
}

main>section:nth-child(4)>article>h4{
    margin-top: 30px;
    font-size: 20px;
    /*margin-left: 580px;*/
}

main>section:nth-child(4)>article:nth-last-child(1){
    margin-left: 350px;
    margin-top: 130px;
}

main>section:nth-child(4)>aside{
    display: inline;
}

main>section:nth-child(4)>aside figure{
    display: inline;
    width: 30%;
    margin-left: 40px;
    margin-right: 0;
}

main>section:nth-child(4)>aside figure img{
    display: inline;
    width: 30%;
    margin: auto;
}

main>section:nth-child(4)>aside>h3{
    color: black;
    font-size: 35px;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 100px;
}

main>section:nth-child(5)>h1{
    font-size: 100px;
    color: #F0F0F0;
    position: absolute;
    top: -1.5%;
    right: 0;
    margin-top: 0;
}

main>section:nth-child(5)>h3 i{
    color: #ff253a;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 100px;
}

main>section:nth-child(5)>h3{
    font-size: 40px ;
    /*margin-left: 80px;*/
    /*margin-top: 80px;*/

}

main>section:nth-child(5) h4{
    color: #ff253a;
    font-size: 35px;
    margin-left: 100px;
    margin-top: 100px;
}

main>section:nth-child(5)>article>div{
    margin-left: 200px;
}

main>section:nth-child(5)>article>h5{
    color: grey;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 50px;
}

main>section:nth-child(5)>article>h5>i{
    margin-right: 10px;
}

main>section:nth-child(5)>article>p{
    color: grey;
    font-size: 20px;
    margin-left: 220px;
}

main>section:nth-child(5)>aside{
    position: absolute;
    right: 7%;
    top: 7%;
}

main>section:nth-child(5)>section{
    margin-top: 50px;
    margin-left: 100px;
}

main>section:nth-child(5)>section div {
    display: inline;
    margin-left: 100px;


}

main>section:nth-child(5)>section div figure{
    display: inline;

}

main>section:nth-child(5)>section:nth-last-child(1){
    margin-top: 50px;
    margin-left: 100px;
}

main>section:nth-child(5)>section div figure img{
    margin-top: 100px;
}


/*main>section:nth-child(5)>section div figure img{*/
/*    display: inline;*/
/*}*/


/*.myBlackPic{*/
/*    position: absolute;*/
/*    left: 5%;*/
/*    padding: 5%;*/
/*}*/

/*.mainMenu{*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*    display: inline;*/
/*    padding-right: 5%;*/
/*    text-decoration: none;*/
/*    list-style-type: none;*/
/*    font-size: 20px;*/
/*}*/

/*.nameDetails{*/
/*    position: relative;*/
/*    padding-left: 800px;*/
/*    padding-top: 100px;*/
/*    font-family: Inter;*/
/*}*/

/*.hello{*/
/*    font-size: 50px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.myName{*/
/*    margin-top: 20px;*/
/*    margin-bottom: 20px;*/
/*    font-size: 70px;*/
/*    color: red;*/
/*}*/

/*.mySubTitle{*/
/*    font-size: 40px;*/
/*    margin-top: 20px;*/
/*    font-family: Inter;*/
/*}*/
/*.whiteSection{*/
/*    padding-bottom: 100px;*/
/*    padding-top: 50px;*/
/*}*/
/*.graySection{*/
/*    position: relative;*/
/*    background-color: #F0F0F0;*/
/*    font-family: Inter;*/
/*}*/

/*.titles{*/
/*    color: red;*/
/*    padding-top: 60px;*/
/*    font-size: 45px;*/
/*    padding-left: 40px;*/
/*    font-family: Inter;*/
/*    text-decoration: none;*/
/*}*/

/*.description{*/
/*    position: relative;*/
/*    color: dimgrey;*/
/*    font-size: 30px;*/
/*    padding-left: 150px;*/
/*    padding-top: 60px;*/
/*    padding-bottom: 300px;*/
/*    line-height: 50px;*/
/*}*/

/*.mySecondPic{*/
/*    padding-left: 40vw;*/
/*    position: absolute;*/
/*    left: 10%;*/
/*    top: 0;*/
/*}*/

/*.eduChart{*/
/*    padding-top: 50px;*/
/*    padding-left: 20%;*/
/*    padding-bottom: 100px;*/
/*}*/

.whatsappIcon{
    width: 80px;
    position: fixed;
    bottom: 1%;
    right: 1%;
}





